# operators
# strings
# list
# help
# itterator
# while
# for
# if
# list comprehensio
# dictionary
# functions 
# lambda Functions
# -----------------XXXXX---------------

# Mathematic Operations

### round off division -> //
### Modulus -> %
### power -> **

In [1]:
x=3
x

3

In [2]:
x*=2
x

6

In [3]:
x/=2
x

3.0

In [4]:
x=6

In [5]:
x**=2

In [6]:
x

36

In [7]:
x

36

In [8]:
x=6
x=x**2
x

36

In [9]:
print(x/3)

12.0

In [10]:
print(x/5)

7.2

In [11]:
x=x//2
x

18

In [12]:
x=5
x//=2
x

2

In [13]:
x=5
x=x//2
x

2

## Take input from user

In [4]:
name=input("enter name: ")
name0 , age0  = input ("Name : ") , input ("Age : ")
##if split bracket is empty.This means it take space by default to split variables
fname,lname=input("enter your fname and lname (separated by space) : ").split() 
name1,age1=input("enter your name and age (separated by ,) : ").split(",") 
print(name)
print(fname,lname)
print(name1,age)

enter name: ahsan
Name : ahsan
Age : 21
enter your fname and lname (separated by space) : ahsan rao
enter your name and age (separated by ,) : ahsan,21
ahsan
ahsan rao
ahsan 21

# STRING  

### type( any variable ) -> return data type of variable
### .upper()
### .lower()
### .title()
### .lstrip() OR .lstrip(character)
### .rstrip()
### .strip()
### .count(string) OR .count(string, start_index) OR .count(string, start_index, end_index) 
### .index(string) OR .index(string, start_index) OR .index(string, start_index, end_index) ->with error 
### .find(string) OR .find(string, start_index) OR .find(string, start_index, end_index) ->without error 
### .isalnum() ->find alphanumeric characters in string
### .isdigit()  -> find digits
### .islower()
### .isalpha() -> find alphabets
### .isnumeric() -> find alphabets and digits
### .isspace()
### .istitle()
### .replace(old, new, number of char to replace)
### .split('char') OR .split('char',2) -> convert string into list
### .swapcase()

In [14]:
name="ahsan ghaffar Rajput"
age=23
print ("my name is " +name+ ". " + "I'm "+str(age)+" years old" )
print(type(name))

my name is ahsan ghaffar Rajput. I'm 23 years old
<class 'str'>

In [15]:
name.title()

'Ahsan Ghaffar Rajput'

In [16]:
name="ahsan ghaffar Rajput"
name.title()

'Ahsan Ghaffar Rajput'

In [17]:
name.upper()

'AHSAN GHAFFAR RAJPUT'

In [18]:
name.lower()

'ahsan ghaffar rajput'

In [19]:
name="       ahsan ghaffar Rajput         "
name.lstrip()

'ahsan ghaffar Rajput         '

In [20]:
name.rstrip()

'       ahsan ghaffar Rajput'

In [21]:
name.strip()

'ahsan ghaffar Rajput'

In [22]:
name="ahsan rao ghaffar rao"

print(name.count('rao'))
print(name.count('rao',8))
print(name.count('rao',6))
print(name.count('rao',0,15))

2
1
2
1

In [23]:
s="I love Pakistan, I love Pakistan, I love python"
print(s.replace('I','He'))
print(s.replace('I','He',1))

He love Pakistan, He love Pakistan, He love python
He love Pakistan, I love Pakistan, I love python

# LIST 

### split
### join
### .append ("any value")
### .insert ( index , "value" )
### del  list  OR  del list[index] 
### .remove (index)
### .pop ()  OR  .pop(index)
### .index (value)
### .enumerate()  -> create tuple inside list in this format [ ( index, value1 ) ,  ( index, value2 ) ..... ]
### zip(list1, list2,----)
### unzip --> zip(*list)

In [35]:
names=["ahsan","ali","faraz","talha"] ##LIST 
names

['ahsan', 'ali', 'faraz', 'talha']

In [36]:
names[2]

'faraz'

In [37]:
names[0].upper()

'AHSAN'

In [24]:
s="I love Pakistan, I love Pakistan, I love python"

print(s.split())
print(s.split(','))
print(s.split(',',1))

['I', 'love', 'Pakistan,', 'I', 'love', 'Pakistan,', 'I', 'love', 'python']
['I love Pakistan', ' I love Pakistan', ' I love python']
['I love Pakistan', ' I love Pakistan, I love python']

In [25]:
s1=s.split()
print(s1)
s2='-'.join(s1)
print(s2)

['I', 'love', 'Pakistan,', 'I', 'love', 'Pakistan,', 'I', 'love', 'python']
I-love-Pakistan,-I-love-Pakistan,-I-love-python

In [38]:
names.append("rao")
names

['ahsan', 'ali', 'faraz', 'talha', 'rao']

In [39]:
names.insert(1,"noman")
names

['ahsan', 'noman', 'ali', 'faraz', 'talha', 'rao']

In [40]:
del names[2]
names

['ahsan', 'noman', 'faraz', 'talha', 'rao']

In [41]:
names.remove("faraz")
names

['ahsan', 'noman', 'talha', 'rao']

In [42]:
delName=names.pop()
delName
names

['ahsan', 'noman', 'talha']

In [43]:
print(delName)

rao

In [44]:
delName=names.pop(1)
print(delName)
print(names)

noman
['ahsan', 'talha']

In [45]:
names=['ahsan', 'noman', 'talha']
delName=names.pop(1)
print(delName)
print(names)

noman
['ahsan', 'talha']

In [46]:
names=['ahsan', 'noman', 'talha']
delName=names.pop(1)
print(delName)
print(names)

noman
['ahsan', 'talha']

In [47]:
marks=[23,44,11,9,0,5,55,32]
marks.index(44)

1

In [48]:
list(enumerate(marks))

[(0, 23), (1, 44), (2, 11), (3, 9), (4, 0), (5, 5), (6, 55), (7, 32)]

In [32]:
names=["ahsan",'rao','ali','osama']

for index,value in enumerate(names):
    print(f"{index}--->{value}")

0--->ahsan
1--->rao
2--->ali
3--->osama

In [49]:
a,b=5,5
print(id(a))
print(id(b))

140725901759424
140725901759424

In [50]:
marks

[23, 44, 11, 9, 0, 5, 55, 32]

In [35]:
lis1=['user1','user2','user3']
lis2=['ahsan','ali','raza']

list(zip(lis1,lis2))

[('user1', 'ahsan'), ('user2', 'ali'), ('user3', 'raza')]

In [39]:
id1=['user1','user2','user3']
fname=['ahsan','ali','raza']
lname=['rao','mian','khan']

data=list(zip(id1,fname,lname))

print(data)

[('user1', 'ahsan', 'rao'), ('user2', 'ali', 'mian'), ('user3', 'raza', 'khan')]

In [43]:
id2,fname1,lname1=list(zip(*data))
print(id2)
print(fname1)
print(lname1)

('user1', 'user2', 'user3')
('ahsan', 'ali', 'raza')
('rao', 'mian', 'khan')

# LIST

## list( any_string) -> convert any string in list
## sort() -> list sort permenetly
## sorted( list ) -> list sort temporarily
## sort(reverse=True)
## reverse()
## min(list_name)
## max(list_name)
## len(list_name)
## sum(list_name)
## count(value) 
## list3=list1+list2
## list1.extend(list2) -> store list2 values in list1

In [51]:
marks=[23,44,11,9,0,5,55,32]

print(sorted(marks)) #list sort temporarily
print(marks)

marks.sort() #list sort permenetly
print(marks)

[0, 5, 9, 11, 23, 32, 44, 55]
[23, 44, 11, 9, 0, 5, 55, 32]
[0, 5, 9, 11, 23, 32, 44, 55]

In [52]:
print(marks)

[0, 5, 9, 11, 23, 32, 44, 55]

In [53]:
marks=[23,44,11,9,0,5,55,32]

marks.sort(reverse=True)#1st method
print(marks)

print(sorted(marks,reverse=True))#2nd method

[55, 44, 32, 23, 11, 9, 5, 0]
[55, 44, 32, 23, 11, 9, 5, 0]

In [54]:
marks=[23,44,11,9,0,5,55,32]
marks.reverse()

In [55]:
marks

[32, 55, 5, 0, 9, 11, 44, 23]

In [56]:
len(marks)

8

In [57]:
min(marks)

0

In [58]:
max(marks)

55

In [59]:
sum(marks)

179

In [60]:
a=list("pakistan zindabad")
a.count("a")

4

In [36]:
l1=[21,32,4,21]
l2=[43,5,2,56]
l3=l1+l2 #inline

In [37]:
print(l1)
print(l2)
print(l3)

[21, 32, 4, 21]
[43, 5, 2, 56]
[21, 32, 4, 21, 43, 5, 2, 56]

In [63]:
l1.extend(l2) #in memory

In [64]:
l1

[21, 32, 4, 21, 43, 5, 2, 56]

## map(function_name, list_name) -> apply function on each value of list
## chr( ASCII_code ) -> find value from ASCII code
## ord( value ) -> find ASCII code from value
## range( start, end, difference)

In [65]:
marks=[]
for i in range(65,91,1):
    marks.append(i)
    i+=1
list(map(chr,marks))

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [66]:
mark1=['2','2',"ahsan","33.4"]
list(map(len,mark1))

[1, 1, 5, 4]

In [67]:
mark2=list(range(1,11))
mark2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
list(map(float,mark2))

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]

In [69]:
#to find ASCII code from value we use ord function ord(value)
ord("A")

65

In [70]:
#to find value from ASCII code we use chr function chr(ASCII_code)
chr(65)

'A'

In [71]:
chr(65)

'A'

In [72]:
#0 - 9  ( 48 - 57 )
#A - Z  ( 65 - 90 )
#a - z  ( 97 - 122 )

In [73]:
abc=list(range(97,123))
ABC=list(range(65,91))
zero_nine=list(range(48,58))
print(abc)
print(ABC)
print(zero_nine)

[97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122]
[65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]
[48, 49, 50, 51, 52, 53, 54, 55, 56, 57]

In [74]:
list(map(chr,abc))

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [75]:
list(map(chr,ABC))

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [76]:
list(map(chr,zero_nine))

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

## help(function_name) 
## ?
## ??
## """  """ 
## '''   ''' 
## .format() 
## f "string"

In [77]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [78]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [79]:
sum?

In [80]:
sum??

In [81]:
num="""
my name is
ahsan
ghaffar
"""

In [82]:
name="ahsan"
fname="ghaffar"
age=23
list1="""
name: {}
fname: {}
age: {}
"""
print(list1.format(name,fname,age))

name: ahsan
fname: ghaffar
age: 23

In [83]:
name="ahsan"
fname="ghaffar"
age=23
list1="""
name: {1}
fname: {2}
age: {0}
"""
print(list1.format(name,fname,age))

name: ghaffar
fname: 23
age: ahsan

In [84]:
a=input("Enter your name: ")

Enter your name: ahsan

In [85]:
name=input("Enter your name: ")
fname=input("Enter your fname: ")
age=input("Enter your age: ")
list1="""
name: {}
fname: {}
age: {}
"""
print(list1.format(name,fname,age))

Enter your name: ahsan
Enter your fname: ghaffar
Enter your age: 21

name: ahsan
fname: ghaffar
age: 21

In [34]:
###f string
name=input("Enter your name: ")
fname=input("Enter your fname: ")
age=input("Enter your age: ")
list1=f"""
name: {name}
fname: {fname}
age: {age}
"""
print(list1)

Enter your name: ahsan
Enter your fname: rao
Enter your age: 21

name: ahsan
fname: rao
age: 21

In [86]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# ITERATOR

In [5]:
lis=[1,4,2,54]

iter1=iter(lis)

print(iter1.__next__())
print(iter1.__next__())
print(iter1.__next__())
print(next(iter1))

1
4
2
54

# while
# for
# if elif else 
## we can use --> (raise StopIteration)  in if else condition to stop for loop

In [87]:
i=0
while i<len(marks):
    print(marks[i])
    i+=1

65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [88]:
marks=[23,24,5,2,542,4,5,25]
i=len(marks)-1
while i>=0:
    print(marks[i])
    i-=1

25
5
4
542
2
5
24
23

In [89]:
marks

[23, 24, 5, 2, 542, 4, 5, 25]

In [90]:
name2=[]

while True: ##while true means to run the loop infinite times
    a=input("name: ")
    if a != "x":
        name2.append(a)
    else:
        break## or we can use --> raise StopIteration 
name2

name: ahsan
name: rao
name: ali
name: nhi
name: hamza
name: hasim
name: x

['ahsan', 'rao', 'ali', 'nhi', 'hamza', 'hasim']

In [91]:
marks=[23,24,5,2,542,4,5,25]
for i in marks:
    print(i)
    i+=1

23
24
5
2
542
4
5
25

In [92]:
dir(marks)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [93]:
marks.__class__

list

In [22]:
##Exercise
name,age=input("enter name and age: ").split()
if name.find('a',0,1)!=-1 and int(age)>10: ##find return index of char which it find. If value isn't present then output=-1
    print("you can watch movie")
else:
    print("sorry you can't watch movie")

######################OR#######################
if name[0].lower()=='a' and int(age)>10: 
    print("you can watch movie")
else:
    print("sorry you can't watch movie")

enter name and age: Ahsan 21
sorry you can't watch movie
you can watch movie

In [94]:
if 2>3 or 4>1 or 5<3 or 5!=3:
    print(marks)
elif len(marks) >= len(names):
    print(names)
else:
    print("none of the above")## or we can use --> raise StopIteration

[23, 24, 5, 2, 542, 4, 5, 25]

In [95]:
for i in marks:
    print(i)

23
24
5
2
542
4
5
25

# range()
# list comprehensive [::] ->slice

In [96]:
l1=list(range(65,91))
l1

[65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90]

In [97]:
for e in l1:
    print(chr(e))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [98]:
#for itteration we can do 2 thing 
#1st one is using loop eg: for, while
#2nd one is using itterative method eg: list()
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [99]:
#for itteration we can do 2 thing 
#1st one is using loop eg: for, while
#2nd one is using itterative method eg: list()
for j in range(1,11): 
    print(j)

1
2
3
4
5
6
7
8
9
10

In [100]:
list(range(0,101,20))

[0, 20, 40, 60, 80, 100]

In [101]:
val=list(map(chr,list(range(97,123))))
print(*val, " ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [102]:
for j in range(0,11,2): # range(start, end, difference) 
    print(val[j])

a
c
e
g
i
k

In [103]:
print("length of val is: "+str(len(val)))
for j in range(0,len(val),2): # range(start, end, difference) 
    print(val[j])

length of val is: 26
a
c
e
g
i
k
m
o
q
s
u
w
y

In [104]:
#format without comprehension
name="ahsan"
fname="ghaffar"
age=23
list1="""
name: {}
fname: {}
age: {}
"""
print(list1.format(name,fname,age))

#if else without comprehension
a=5
if a==5:
    print("pakistan")
else:
    print("india")

#for loop without comprehension
for x in range(1,11):
    print(x*2)

name: ahsan
fname: ghaffar
age: 23

pakistan
2
4
6
8
10
12
14
16
18
20

In [105]:
#list comprehensive 
#compressing the syntax in 1 line is called comprehensive
a=5 
print("pakistan") if a==5 else print("india") #if else condition using comprehension

print([y**2 for y in range(0,10)]) #for looop using comprehension
abc=[x for x in range(0,10)]
print(abc)

["name={}, fname={} , age={}".format("ahsan", "ghaffar", "23")] #format using comprehension

["{} X {}=  {}".format(2, x, x*2) for x in range(1,11)]

pakistan
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

['2 X 1=  2',
 '2 X 2=  4',
 '2 X 3=  6',
 '2 X 4=  8',
 '2 X 5=  10',
 '2 X 6=  12',
 '2 X 7=  14',
 '2 X 8=  16',
 '2 X 9=  18',
 '2 X 10=  20']

In [106]:
[x for x in range(1,1001) if x%5==0 and x%7==0 and x%40==0]

[280, 560, 840]

In [107]:
#SLICING
marks=[32, 55, 5, 0, 9, 11, 44, 23]
print(marks[0:5])
print(marks[0:9:2])

[32, 55, 5, 0, 9]
[32, 5, 9, 44]

In [108]:
marks=list(map(chr,list(range(65,91))))
print(marks)
#print(marks[0::])
#print(marks[:])
#print(marks[::])
print(marks[-26::])
print(marks[::-1])
print(marks[::2])
print(marks[-5:])
print(marks[-20::-1])
print(marks[-14:-12])
print(marks[-5:-7:])
print(marks[-5:-7:-1])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']
['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']
['V', 'W', 'X', 'Y', 'Z']
['G', 'F', 'E', 'D', 'C', 'B', 'A']
['M', 'N']
[]
['V', 'U']

# DICTIONARY

In [109]:
##DICTIONARY
customer= {"fname": "David", "lastname": "Elliott", "address": "4803 Wellesley St."}
customer["fname"]="ahsan"
print(customer)

{'fname': 'ahsan', 'lastname': 'Elliott', 'address': '4803 Wellesley St.'}

In [110]:
##DICTIONARY
customer= {"fname": "David", "lastname": "Elliott", ["address"]: "4803 Wellesley St.", 0:"PAkistan"}
#here "address" key list is not hashable thats why it couldn't use in dictionary
customer["fname"]="ahsan"
print(customer)
print(customer[0])

TypeError: unhashable type: 'list'

In [ ]:
##DICTIONARY
customer= {"fname": "David", "lastname": "Elliott", ("address"): "4803 Wellesley St.", 0:"PAkistan"} 
#here "address" tuple is hashable thats why it could use in dictionary
customer["fname"]="ahsan"
print(customer)
print(customer[0])
print(customer.keys())

In [ ]:
customer= {"fname": "ahsan", "lname": "ghaffar", "address": "4321", 'abc': ["12", 23, "abc"]} 

customer['abc']

In [ ]:
customer["abc"][1]

# FUNCTIONS
### Refer to ch_46

In [112]:
def abc(name, fname, id1):
    print("name="+name+"\nfname="+fname+"\nID="+str(id1))

abc("ahsan","rao", 123)

name=ahsan
fname=rao
ID=123

In [113]:
def student(name,fname,rollNo,course):
    data="""
    name= {}
    fname= {}
    rollNo= {}
    course= {}
    """.format(name,fname,rollNo,course)
    
    return data

print(student("ahsan","ghaffar",1234,"math"))

    name= ahsan
    fname= ghaffar
    rollNo= 1234
    course= math

# ARGS  --> arguments
### return values of type tuple

In [26]:
def abc1(*val): #inifinite parameters for list in other words we can say infinite variables
    
    return val,sum(val)

print(abc1(1,2,3,4,5))
print(abc1(1,2,35))
print(abc1(1,2,3,5))
print(abc1(5))

((1, 2, 3, 4, 5), 15)
((1, 2, 35), 38)
((1, 2, 3, 5), 11)
((5,), 5)

# KWARGS --> keyword arguments
### return values of type dictionary

In [115]:
def abc2(**d): #infinite parameters for dictionary
    return d

print(abc2(name="ahsan"))
print(abc2(a="b",c="d"))
print(abc2(a="b",c="d",b="b",d="d"))

{'name': 'ahsan'}
{'a': 'b', 'c': 'd'}
{'a': 'b', 'c': 'd', 'b': 'b', 'd': 'd'}

In [116]:
def add(a=0, b=0, c=0): #it means we set pre default value for a,b,c in case when we not pass argument of any variable
    return a+b+c

print(add())
print(add(1))
print(add(1,2))
print(add(1,2,3))

0
1
3
6

In [117]:
l3=["ahsan","ghaffar",444]

abc(l3[0],l3[1],l3[2])

name=ahsan
fname=ghaffar
ID=444

In [118]:
abc(*l3)

name=ahsan
fname=ghaffar
ID=444

In [119]:
abc(id1=54321,name="ahsan",fname="ghaffar")

name=ahsan
fname=ghaffar
ID=54321

In [120]:
customer= {"name": "David", "fname": "Elliott", "id1": 4803}

abc(**customer)

name=David
fname=Elliott
ID=4803

In [1]:
def dic1(name,**data):
    print(name)
    print(data)

dic1(name="ahsan",age=12,gender="male",post="commando")

ahsan
{'age': 12, 'gender': 'male', 'post': 'commando'}

# LAMBDA FUNCTIONS

In [9]:
################# LAMBDA FUNCTIONS  ##################

sum_lambda= lambda a,b : a+b

print(sum_lambda(5,5))

10

In [12]:
###without lambda function
def is_even(nums):
    return nums%2==0 ##return true or false

nums=[1,2,3,54,5,73,4,2,33,44]
evens=list(filter(is_even,nums))
print(evens)

[2, 54, 4, 2, 44]

In [13]:
###with lambda function

nums=[1,2,3,54,5,73,4,2,33,44]
evens=list(filter(lambda nums : nums%2==0,nums))
print(evens)

[2, 54, 4, 2, 44]

In [38]:
###map with lambda function

nums=[1,2,3,54,5,73,4,2,33,44]
evens=list(map(lambda nums : nums%2==0,nums))
print(evens)

[False, True, False, True, False, False, True, True, False, True]

In [30]:
##example
s="ahsan"
func= lambda s : True if len(s)>3 else False
print(func(s))

True

# dictionary 

### .copy
### dict.fromkeys( list ) -> convert list into dictionary
### .get( key ) -> to prevent from errors in case of wrong key input
### keys -> return keys of dictionary
### .values -> return values of dictionary
### .items -> convert dict into tuple inside list [('name', 'David'), ('fname', 'Elliott'), ('id1', 4803)]
### dict1.update( dict2 ) -> dict1 me dict2 ki values+keys insert krdega or jo keys same hongi unki values dict2 ki dal dega
### .pop( key ) -> returns value 
### .popitem ( )  -> return value+ key
### setdefault  -> insert default key+value
### zip(list1, list2)

In [ ]:
##deep opy: when 2 objects are same but their address are diffrent
##shallow copy: when 2 objects are same and their addresses are also same
customer1=customer #shallow copy
customer2=customer.copy() #deep copy

print("shallow copy")
print(id(customer))
print(id(customer1))

print("\ndeep copy")
print(id(customer))
print(id(customer2))

In [ ]:
#how to convert list items into dictionary keys
l4=["name","fname","id"]
dic1=dict.fromkeys(l4)

dic1

In [ ]:
dic1["name"]="ahsan"

dic1

In [ ]:
dic1=dict.fromkeys(l4,"abc")
dic1

In [ ]:
#how to convert dictionary keys into ist items
l3=dic1.keys()
l3

In [ ]:
### direct calling of element 
dic1["course"]

In [ ]:
##calling of element using get method
dic1.get("course")

In [ ]:
##or 
dic1.get("course", "invalid key")

In [ ]:
dic1.get("name", "invalid key")

In [ ]:
print(l3)
for j in l3:
    if j=="pakistan":
        print(True)
        break
    else:
        print(False) 
        break

In [ ]:
##simply we can do
"ahsan" in l3

In [ ]:
"name" in l3

## keys, values, items using for loop

In [ ]:
customer= {"name": "David", "fname": "Elliott", "id1": 4803}
customer.keys()

In [ ]:
customer.values()

In [ ]:
customer.items()

In [ ]:
for key in customer.keys(): #OR we can write customer only instead of customer.keys()
    print(customer[key])
print("*")    
for key in customer.keys(): #OR we can write customer only instead of customer.keys()
    print(key)  
print("*")    
for val in customer.values(): 
    print(val)

In [ ]:
dic={0:'a',
     3:'d',
     1:'b',
     2:'c',}
dic

In [ ]:
dic.sort()

In [ ]:
sorted(dic)

In [ ]:
sorted(dic.keys())

In [ ]:
for e in customer:
    print(e)

In [ ]:
for e in customer.keys():
    print(e)

In [ ]:
for e in customer.values():
    print(e)

In [ ]:
for k,v in customer.items():
    print("keys= "+str(k)+"\tvalues= "+str(v)+"\n")

In [ ]:
customer= {"fname": "ahsan", "lname": "ghaffar", "id1": "4321", 'abc': ["12", 23, "abc"]} 
customerd=customer
print(customerd)
print(customer)

In [ ]:
customerd.pop("id1")

In [ ]:
#insert value in dictionary
customerd[0]="pakistan"
customerd

In [ ]:
customerd.popitem()

In [ ]:
customerd.setdefault('def key',"default value")

In [ ]:
customerd

In [ ]:
#how to update dict
new_dic={"fname": "update fname", "lname": "update lname","new items":"123"}

In [ ]:
customerd.update(new_dic)
customerd

In [ ]:
#set
{1,2,3,4,1,2,4}

In [ ]:
dic1={}

In [ ]:
dic1["name"]="ahsan"
dic1[1]="new"
dic1

In [ ]:
db=[]

while True: ##while true means to run the loop infinite times
    name=input("name: ")
    fname=input("fname: ")
    r={}
    if name != "x" or fname != "x":
        r["name"]=name
        r["fname"]=fname
        db.append(r)
    else:
        break
        db

In [ ]:
db #dictionary inside list

In [ ]:
db[0]['name'] #access dictionary values inside list

In [36]:
lis1=['user1','user2','user3']
lis2=['ahsan','ali','raza']


dict(zip(lis1,lis2))

{'user1': 'ahsan', 'user2': 'ali', 'user3': 'raza'}

In [37]:
id1=['user1','user2','user3']
fname=['ahsan','ali','raza']
lname=['rao','mian','khan']

dict(zip(id1,fname,lname))

ValueError: dictionary update sequence element #0 has length 3; 2 is required