# Mathematic Operations

### round off division -> //
### Modulus -> %
### power -> **

In [7]:
x=3
x

3

In [8]:
x*=2
x

6

In [9]:
x/=2
x

3.0

In [267]:
x=6

In [268]:
x**=2

In [269]:
x

36

In [270]:
x

36

In [271]:
x=6
x=x**2
x

36

In [272]:
print(x/3)

12.0

In [273]:
print(x/5)

7.2

In [274]:
x=x//2
x

18

In [275]:
x=5
x//=2
x

2

In [276]:
x=5
x=x//2
x

2

# STRING  

### type( any variable ) -> return data type of variable
### .upper()
### .lower()
### .title()
### .lstrip() OR .lstrip(character)
### .rstrip()
### .strip()
### .count(string) OR .count(string, start_index) OR .count(string, start_index, end_index) 
### .index(string) OR .index(string, start_index) OR .index(string, start_index, end_index) ->with error 
### .find(string) OR .find(string, start_index) OR .find(string, start_index, end_index) ->without error 
### .isalnum() ->find alphanumeric characters in string
### .isdigit()  -> find digits
### .islower()
### .isalpha() -> find alphabets
### .isnumeric() -> find alphabets and digits
### .isspace()
### .istitle()
### .replace(old, new, number of char to replace)
### .split('char') OR .split('char',2) -> convert string into list
### .swapcase()

In [3]:
name="ahsan ghaffar Rajput"
age=23
print ("my name is " +name+ ". " + "I'm "+str(age)+" years old" )
print(type(name))

my name is ahsan ghaffar Rajput. I'm 23 years old
<class 'str'>

In [278]:
name.title()

'Ahsan Ghaffar Rajput'

In [279]:
name="ahsan ghaffar Rajput"
name.title()

'Ahsan Ghaffar Rajput'

In [280]:
name.upper()

'AHSAN GHAFFAR RAJPUT'

In [281]:
name.lower()

'ahsan ghaffar rajput'

In [282]:
name="       ahsan ghaffar Rajput         "
name.lstrip()

'ahsan ghaffar Rajput         '

In [283]:
name.rstrip()

'       ahsan ghaffar Rajput'

In [284]:
name.strip()

'ahsan ghaffar Rajput'

In [4]:
name="ahsan rao ghaffar rao"

print(name.count('rao'))
print(name.count('rao',8))
print(name.count('rao',6))
print(name.count('rao',0,15))

2
1
2
1

In [8]:
s="I love Pakistan, I love Pakistan, I love python"
print(s.replace('I','He'))
print(s.replace('I','He',1))

He love Pakistan, He love Pakistan, He love python
He love Pakistan, I love Pakistan, I love python

In [13]:
s="I love Pakistan, I love Pakistan, I love python"

print(s.split(','))
print(s.split(',',1))

['I love Pakistan', ' I love Pakistan', ' I love python']
['I love Pakistan', ' I love Pakistan, I love python']

# ARRAYS

In [1]:
import array

In [42]:
#  i=int
#  f=float
#  d=double
#  l=long
#  b=char
#  i=int
vals=array.array("i",[1,2,34,1,2,4,3])

In [50]:
print(vals)
print(vals.buffer_info())   ###(1541182283984, 7) --> (Address, size)

#copy elements of old array

new_arr=array.array(vals.typecode,(a for a in vals)) ###(could_done_any_thing_with_a for a in vals)

new2=array.array(vals.typecode,(a*a for a in vals))

for i in new_arr:
    print(i)
print("\n\n")
for i in new2:
    print(i)

array('i', [0, 3, 4, 2, 1, 34, 2, 1])
(1541197573744, 8)
0
3
4
2
1
34
2
1



0
9
16
4
1
1156
4
1

In [44]:
val2=array.array("f",[])
num=4 ##user input
for i in range(num):
    inp=float(input("enter element: "))
    val2.append(inp)

print(val2)

enter element: 12
enter element: 2
enter element: 3
enter element: 1
array('f', [12.0, 2.0, 3.0, 1.0])

In [45]:
vals.append(0)
vals.insert(0,122)

In [46]:
vals

array('i', [122, 1, 2, 34, 1, 2, 4, 3, 0])

In [47]:
vals.pop(0)
vals

array('i', [1, 2, 34, 1, 2, 4, 3, 0])

In [48]:
vals.reverse()
vals

array('i', [0, 3, 4, 2, 1, 34, 2, 1])

# NUMPY

In [69]:
import numpy ##nupy used for multi dimensional array
#from numpy import numpy --> this method doesn't required extension 
#exp: numpy.array([1,2,3]) -----> array([1,2,3]) (can write in this manner)

In [76]:
arr1=numpy.array([2,4,1,4,23,3]) ##by default choose its data type on the basis of elements
print(arr1.dtype)
print(arr1)

print("\n\n")
arr2=numpy.array([2,4,1,4,23,3.1]) #by_default choose its DT on basis of elements values -->single 3.1 so convert it in float
print(arr2.dtype)
print(arr2)

print("\n\n")
arr3=numpy.array([2.7,4.9,1,4,23,3.1],int) ##you can also assign data type 
print(arr3.dtype)
print(arr3)

print("\n\n")
arr2=numpy.array([2,4,1,4,23,3],float) ##you can also assign data type 
print(arr2.dtype)
print(arr2)

int32
[ 2  4  1  4 23  3]



float64
[ 2.   4.   1.   4.  23.   3.1]



int32
[ 2  4  1  4 23  3]



float64
[ 2.  4.  1.  4. 23.  3.]

# LIST  

### .append ("any value")
### .insert ( index , "value" )
### del  list  OR  del list[index] 
### .remove (index)
### .pop ()  OR  .pop(index)
### .index (value)
### .enumerate()  -> create tuple inside list in this format [ ( index, value1 ) ,  ( index, value2 ) ..... ]

In [53]:
names=["ahsan","ali","faraz","talha"] ##LIST 
names

['ahsan', 'ali', 'faraz', 'talha']

In [54]:
names[2]

'faraz'

In [55]:
names[0].upper()

'AHSAN'

In [56]:
names.append("rao")
names

['ahsan', 'ali', 'faraz', 'talha', 'rao']

In [57]:
names.insert(1,"noman")
names

['ahsan', 'noman', 'ali', 'faraz', 'talha', 'rao']

In [58]:
del names[2]
names

['ahsan', 'noman', 'faraz', 'talha', 'rao']

In [59]:
names.remove("faraz")
names

['ahsan', 'noman', 'talha', 'rao']

In [60]:
delName=names.pop()
delName
names

['ahsan', 'noman', 'talha']

In [61]:
print(delName)

rao

In [62]:
delName=names.pop(1)
print(delName)
print(names)

noman
['ahsan', 'talha']

In [63]:
names=['ahsan', 'noman', 'talha']
delName=names.pop(1)
print(delName)
print(names)

noman
['ahsan', 'talha']

In [64]:
names=['ahsan', 'noman', 'talha']
delName=names.pop(1)
print(delName)
print(names)

noman
['ahsan', 'talha']

In [65]:
marks=[23,44,11,9,0,5,55,32]
marks.index(44)

1

In [66]:
list(enumerate(marks))

[(0, 23), (1, 44), (2, 11), (3, 9), (4, 0), (5, 5), (6, 55), (7, 32)]

In [67]:
a,b=5,5
print(id(a))
print(id(b))

140716164223936
140716164223936

In [301]:
marks

[23, 44, 11, 9, 0, 5, 55, 32]

# LIST

## list( any_string) -> convert any string in list
## sort() -> list sort permenetly
## sorted( list ) -> list sort temporarily
## sort(reverse=True)
## reverse()
## min(list_name)
## max(list_name)
## len(list_name)
## sum(list_name)
## count(value) 
## list3=list1+list2
## list1.extend(list2) -> store list2 values in list1

In [3]:
marks=[23,44,11,9,0,5,55,32]

print(sorted(marks)) #list sort temporarily
print(marks)

marks.sort() #list sort permenetly
print(marks)

[0, 5, 9, 11, 23, 32, 44, 55]
[23, 44, 11, 9, 0, 5, 55, 32]
[0, 5, 9, 11, 23, 32, 44, 55]

In [4]:
print(marks)

[0, 5, 9, 11, 23, 32, 44, 55]

In [5]:
marks=[23,44,11,9,0,5,55,32]

marks.sort(reverse=True)#1st method
print(marks)

print(sorted(marks,reverse=True))#2nd method

[55, 44, 32, 23, 11, 9, 5, 0]
[55, 44, 32, 23, 11, 9, 5, 0]

In [304]:
marks=[23,44,11,9,0,5,55,32]
marks.reverse()

In [305]:
marks

[32, 55, 5, 0, 9, 11, 44, 23]

In [306]:
len(marks)

8

In [307]:
min(marks)

0

In [308]:
max(marks)

55

In [309]:
sum(marks)

179

In [310]:
a=list("pakistan zindabad")
a.count("a")

4

In [9]:
l1=[21,32,4,21]
l2=[43,5,2,56]
l3=l1+l2 #inline

In [10]:
print(l1)
print(l2)
print(l3)

[21, 32, 4, 21]
[43, 5, 2, 56]
[21, 32, 4, 21, 43, 5, 2, 56]

In [312]:
l1.extend(l2) #in memory

In [313]:
l1

[21, 32, 4, 21, 43, 5, 2, 56]

## map(function_name, list_name) -> apply function on each value of list
## chr( ASCII_code ) -> find value from ASCII code
## ord( value ) -> find ASCII code from value
## range( start, end, difference)

In [1]:
marks=[]
for i in range(65,91,1):
    marks.append(i)
    i+=1
list(map(chr,marks))

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [316]:
mark1=['2','2',"ahsan","33.4"]
list(map(len,mark1))

[1, 1, 5, 4]

In [317]:
mark2=list(range(1,11))
mark2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [318]:
list(map(float,mark2))

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]

In [345]:
#to find ASCII code from value we use ord function ord(value)
ord("A")

65

In [344]:
#to find value from ASCII code we use chr function chr(ASCII_code)
chr(65)

'A'

In [1]:
chr(65)

'A'

In [320]:
#0 - 9  ( 48 - 57 )
#A - Z  ( 65 - 90 )
#a - z  ( 97 - 122 )

In [321]:
abc=list(range(97,123))
ABC=list(range(65,91))
zero_nine=list(range(48,58))
print(abc)
print(ABC)
print(zero_nine)

[97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122]
[65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]
[48, 49, 50, 51, 52, 53, 54, 55, 56, 57]

In [322]:
list(map(chr,abc))

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [323]:
list(map(chr,ABC))

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [324]:
list(map(chr,zero_nine))

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

## help(function_name) 
## ?
## ??
## """  """ 
## '''   ''' 
## .format()

In [325]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [326]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [327]:
sum?

In [328]:
sum??

In [329]:
num="""
my name is
ahsan
ghaffar
"""

In [330]:
name="ahsan"
fname="ghaffar"
age=23
list1="""
name: {}
fname: {}
age: {}
"""
print(list1.format(name,fname,age))

name: ahsan
fname: ghaffar
age: 23

In [331]:
name="ahsan"
fname="ghaffar"
age=23
list1="""
name: {1}
fname: {2}
age: {0}
"""
print(list1.format(name,fname,age))

name: ghaffar
fname: 23
age: ahsan

In [332]:
a=input("Enter your name: ")

Enter your name: ahsan

In [333]:
name=input("Enter your name: ")
fname=input("Enter your fname: ")
age=input("Enter your age: ")
list1="""
name: {}
fname: {}
age: {}
"""
print(list1.format(name,fname,age))

Enter your name: ahsan
Enter your fname: rao
Enter your age: 12

name: ahsan
fname: rao
age: 12

In [334]:
import this

# while
# for
# if elif else

In [335]:
i=0
while i<len(marks):
    print(marks[i])
    i+=1

65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [336]:
marks=[23,24,5,2,542,4,5,25]
i=len(marks)-1
while i>=0:
    print(marks[i])
    i-=1

25
5
4
542
2
5
24
23

In [337]:
marks

[23, 24, 5, 2, 542, 4, 5, 25]

In [338]:
name2=[]

while True: ##while true means to run the loop infinite times
    a=input("name: ")
    if a != "x":
        name2.append(a)
    else:
        break
name2

name: ahsan
name: rao
name: ali
name: x

['ahsan', 'rao', 'ali']

In [339]:
marks=[23,24,5,2,542,4,5,25]
for i in marks:
    print(i)
    i+=1

23
24
5
2
542
4
5
25

In [340]:
dir(marks)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [341]:
marks.__class__

list

In [342]:
if 2>3 or 4>1 or 5<3 or 5!=3:
    print(marks)
elif len(marks) >= len(names):
    print(names)
else:
    print("none of the above")

[23, 24, 5, 2, 542, 4, 5, 25]

In [343]:
for i in marks:
    print(i)

23
24
5
2
542
4
5
25

# range()
# list comprehensive [::] ->slice

In [346]:
l1=list(range(65,91))
l1

[65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90]

In [347]:
for e in l1:
    print(chr(e))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [348]:
#for itteration we can do 2 thing 
#1st one is using loop eg: for, while
#2nd one is using itterative method eg: list()
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [349]:
#for itteration we can do 2 thing 
#1st one is using loop eg: for, while
#2nd one is using itterative method eg: list()
for j in range(1,11): 
    print(j)

1
2
3
4
5
6
7
8
9
10

In [350]:
list(range(0,101,20))

[0, 20, 40, 60, 80, 100]

In [2]:
val=list(map(chr,list(range(97,123))))
print(*val, " ")

a b c d e f g h i j k l m n o p q r s t u v w x y z
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [352]:
for j in range(0,11,2): # range(start, end, difference) 
    print(val[j])

a
c
e
g
i
k

In [353]:
print("length of val is: "+str(len(val)))
for j in range(0,len(val),2): # range(start, end, difference) 
    print(val[j])

length of val is: 26
a
c
e
g
i
k
m
o
q
s
u
w
y

In [354]:
#format without comprehension
name="ahsan"
fname="ghaffar"
age=23
list1="""
name: {}
fname: {}
age: {}
"""
print(list1.format(name,fname,age))

#if else without comprehension
a=5
if a==5:
    print("pakistan")
else:
    print("india")

#for loop without comprehension
for x in range(1,11):
    print(x*2)

name: ahsan
fname: ghaffar
age: 23

pakistan
2
4
6
8
10
12
14
16
18
20

In [355]:
#list comprehensive 
#compressing the syntax in 1 line is called comprehensive
a=5 
print("pakistan") if a==5 else print("india") #if else condition using comprehension

print([y**2 for y in range(0,10)]) #for looop using comprehension
abc=[x for x in range(0,10)]
print(abc)

["name={}, fname={} , age={}".format("ahsan", "ghaffar", "23")] #format using comprehension

["{} X {}=  {}".format(2, x, x*2) for x in range(1,11)]

pakistan
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

['2 X 1=  2',
 '2 X 2=  4',
 '2 X 3=  6',
 '2 X 4=  8',
 '2 X 5=  10',
 '2 X 6=  12',
 '2 X 7=  14',
 '2 X 8=  16',
 '2 X 9=  18',
 '2 X 10=  20']

In [356]:
[x for x in range(1,1001) if x%5==0 and x%7==0 and x%40==0]

[280, 560, 840]

In [357]:
#SLICING
marks=[32, 55, 5, 0, 9, 11, 44, 23]
print(marks[0:5])
print(marks[0:9:2])

[32, 55, 5, 0, 9]
[32, 5, 9, 44]

In [358]:
marks=list(map(chr,list(range(65,91))))
print(marks)
#print(marks[0::])
#print(marks[:])
#print(marks[::])
print(marks[-26::])
print(marks[::-1])
print(marks[::2])
print(marks[-5:])
print(marks[-20::-1])
print(marks[-14:-12])
print(marks[-5:-7:])
print(marks[-5:-7:-1])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']
['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']
['V', 'W', 'X', 'Y', 'Z']
['G', 'F', 'E', 'D', 'C', 'B', 'A']
['M', 'N']
[]
['V', 'U']

# DICTIONARY

In [359]:
##DICTIONARY
customer= {"fname": "David", "lastname": "Elliott", "address": "4803 Wellesley St."}
customer["fname"]="ahsan"
print(customer)

{'fname': 'ahsan', 'lastname': 'Elliott', 'address': '4803 Wellesley St.'}

In [360]:
##DICTIONARY
customer= {"fname": "David", "lastname": "Elliott", ["address"]: "4803 Wellesley St.", 0:"PAkistan"}
#here "address" key list is not hashable thats why it couldn't use in dictionary
customer["fname"]="ahsan"
print(customer)
print(customer[0])

TypeError: unhashable type: 'list'

In [361]:
##DICTIONARY
customer= {"fname": "David", "lastname": "Elliott", ("address"): "4803 Wellesley St.", 0:"PAkistan"} 
#here "address" tuple is hashable thats why it could use in dictionary
customer["fname"]="ahsan"
print(customer)
print(customer[0])
print(customer.keys())

{'fname': 'ahsan', 'lastname': 'Elliott', 'address': '4803 Wellesley St.', 0: 'PAkistan'}
PAkistan
dict_keys(['fname', 'lastname', 'address', 0])

In [362]:
customer= {"fname": "ahsan", "lname": "ghaffar", "address": "4321", 'abc': ["12", 23, "abc"]} 

customer['abc']

['12', 23, 'abc']

In [363]:
customer["abc"][1]

23

# FUNCTIONS
### Refer to ch_46

In [364]:
def abc(name, fname, id1):
    print("name="+name+"\nfname="+fname+"\nID="+str(id1))

abc("ahsan","rao", 123)

name=ahsan
fname=rao
ID=123

In [365]:
def student(name,fname,rollNo,course):
    data="""
    name= {}
    fname= {}
    rollNo= {}
    course= {}
    """.format(name,fname,rollNo,course)
    
    return data

print(student("ahsan","ghaffar",1234,"math"))

    name= ahsan
    fname= ghaffar
    rollNo= 1234
    course= math

In [366]:
def abc1(*val): #inifinite parameters for list in other words we can say infinite variables
    return sum(val)

print(abc1(1,2,3,4,5))
print(abc1(1,2,35))
print(abc1(1,2,3,5))
print(abc1(5))

15
38
11
5

In [367]:
def abc2(**d): #infinite parameters for dictionary
    return d

print(abc2(name="ahsan"))
print(abc2(a="b",c="d"))
print(abc2(a="b",c="d",b="b",d="d"))

{'name': 'ahsan'}
{'a': 'b', 'c': 'd'}
{'a': 'b', 'c': 'd', 'b': 'b', 'd': 'd'}

In [368]:
def add(a=0, b=0, c=0): #it means we set pre default value for a,b,c in case when we not pass argument of any variable
    return a+b+c

print(add())
print(add(1))
print(add(1,2))
print(add(1,2,3))

0
1
3
6

In [369]:
l3=["ahsan","ghaffar",444]

abc(l3[0],l3[1],l3[2])

name=ahsan
fname=ghaffar
ID=444

In [370]:
abc(*l3)

name=ahsan
fname=ghaffar
ID=444

In [371]:
abc(id1=54321,name="ahsan",fname="ghaffar")

name=ahsan
fname=ghaffar
ID=54321

In [372]:
customer= {"name": "David", "fname": "Elliott", "id1": 4803}

abc(**customer)

name=David
fname=Elliott
ID=4803

# dictionary 

### .copy
### dict.fromkeys( list ) -> convert list into dictionary
### .get( key ) -> to prevent from errors in case of wrong key input
### keys -> return keys of dictionary
### .values -> return values of dictionary
### .items -> convert dict into tuple inside list [('name', 'David'), ('fname', 'Elliott'), ('id1', 4803)]
### dict1.update( dict2 ) -> dict1 me dict2 ki values+keys insert krdega or jo keys same hongi unki values dict2 ki dal dega
### .pop( key ) -> returns value 
### .popitem ( )  -> return value+ key
### setdefault  -> insert default key+value

In [373]:
##deep opy: when 2 objects are same but their address are diffrent
##shallow copy: when 2 objects are same and their addresses are also same
customer1=customer #shallow copy
customer2=customer.copy() #deep copy

print("shallow copy")
print(id(customer))
print(id(customer1))

print("\ndeep copy")
print(id(customer))
print(id(customer2))

shallow copy
2370302385104
2370302385104

deep copy
2370302385104
2370302290032

In [374]:
#how to convert list items into dictionary keys
l4=["name","fname","id"]
dic1=dict.fromkeys(l4)

dic1

{'name': None, 'fname': None, 'id': None}

In [375]:
dic1["name"]="ahsan"

dic1

{'name': 'ahsan', 'fname': None, 'id': None}

In [376]:
dic1=dict.fromkeys(l4,"abc")
dic1

{'name': 'abc', 'fname': 'abc', 'id': 'abc'}

In [377]:
#how to convert dictionary keys into ist items
l3=dic1.keys()
l3

dict_keys(['name', 'fname', 'id'])

In [378]:
### direct calling of element 
dic1["course"]

KeyError: 'course'

In [379]:
##calling of element using get method
dic1.get("course")

In [380]:
##or 
dic1.get("course", "invalid key")

'invalid key'

In [381]:
dic1.get("name", "invalid key")

'abc'

In [382]:
print(l3)
for j in l3:
    if j=="pakistan":
        print(True)
        break
    else:
        print(False) 
        break

dict_keys(['name', 'fname', 'id'])
False

In [383]:
##simply we can do
"ahsan" in l3

False

In [384]:
"name" in l3

True

## keys, values, items using for loop

In [25]:
customer= {"name": "David", "fname": "Elliott", "id1": 4803}
customer.keys()

dict_keys(['name', 'fname', 'id1'])

In [26]:
customer.values()

dict_values(['David', 'Elliott', 4803])

In [27]:
customer.items()

dict_items([('name', 'David'), ('fname', 'Elliott'), ('id1', 4803)])

In [35]:
for key in customer.keys(): #OR we can write customer only instead of customer.keys()
    print(customer[key])
print("*")    
for key in customer.keys(): #OR we can write customer only instead of customer.keys()
    print(key)  
print("*")    
for val in customer.values(): 
    print(val)

David
Elliott
4803
*
name
fname
id1
*
David
Elliott
4803

In [388]:
dic={0:'a',
     3:'d',
     1:'b',
     2:'c',}
dic

{0: 'a', 3: 'd', 1: 'b', 2: 'c'}

In [389]:
dic.sort()

AttributeError: 'dict' object has no attribute 'sort'

In [390]:
sorted(dic)

[0, 1, 2, 3]

In [391]:
sorted(dic.keys())

[0, 1, 2, 3]

In [392]:
for e in customer:
    print(e)

name
fname
id1

In [393]:
for e in customer.keys():
    print(e)

name
fname
id1

In [394]:
for e in customer.values():
    print(e)

David
Elliott
4803

In [395]:
for k,v in customer.items():
    print("keys= "+str(k)+"\tvalues= "+str(v)+"\n")

keys= name	values= David

keys= fname	values= Elliott

keys= id1	values= 4803

In [9]:
customer= {"fname": "ahsan", "lname": "ghaffar", "id1": "4321", 'abc': ["12", 23, "abc"]} 
customerd=customer
print(customerd)
print(customer)

{'fname': 'ahsan', 'lname': 'ghaffar', 'id1': '4321', 'abc': ['12', 23, 'abc']}
{'fname': 'ahsan', 'lname': 'ghaffar', 'id1': '4321', 'abc': ['12', 23, 'abc']}

In [10]:
customerd.pop("id1")

'4321'

In [16]:
#insert value in dictionary
customerd[0]="pakistan"
customerd

{'fname': 'ahsan', 'lname': 'ghaffar', 'abc': ['12', 23, 'abc'], 0: 'pakistan'}

In [17]:
customerd.popitem()

(0, 'pakistan')

In [400]:
customerd.setdefault('def key',"default value")

'default value'

In [401]:
customerd

{'fname': 'ahsan',
 'lname': 'ghaffar',
 'abc': ['12', 23, 'abc'],
 'def key': 'default value'}

In [402]:
#how to update dict
new_dic={"fname": "update fname", "lname": "update lname","new items":"123"}

In [403]:
customerd.update(new_dic)
customerd

{'fname': 'update fname',
 'lname': 'update lname',
 'abc': ['12', 23, 'abc'],
 'def key': 'default value',
 'new items': '123'}

In [404]:
#set
{1,2,3,4,1,2,4}

{1, 2, 3, 4}

In [19]:
dic1={}

In [24]:
dic1["name"]="ahsan"
dic1[1]="new"
dic1

{'name': 'ahsan', 1: 'new'}

In [408]:
db=[]

while True: ##while true means to run the loop infinite times
    name=input("name: ")
    fname=input("fname: ")
    r={}
    if name != "x" or fname != "x":
        r["name"]=name
        r["fname"]=fname
        db.append(r)
    else:
        break
        db

name: ahsan
fname: rao
name: ali
fname: raza
name: x
fname: x

In [409]:
db #dictionary inside list

[{'name': 'ahsan', 'fname': 'rao'}, {'name': 'ali', 'fname': 'raza'}]

In [410]:
db[0]['name'] #access dictionary values inside list

'ahsan'