In [ ]:
import pandas as pd

apples=pd.Series([3,2,0,1])
oranges=pd.Series([3,4,7,8])

data = {"apples":apples, "oranges":oranges}
fruits_df = pd.DataFrame(data)
print(fruits_df)

In [2]:
### Keep in mind, indexes

state = ['Ohio','Ohio','Ohio','Navada','Navada','Navada',]

data= {'state':state,
       'year': [2001,2002,2001,2002,2003, 2005],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

state_pop_df = pd.DataFrame(data, index= ['1st', '2nd', '3rd', '4th', '5th', '6th'])

print(state_pop_df)

      state  year  pop
1st    Ohio  2001  1.5
2nd    Ohio  2002  1.7
3rd    Ohio  2001  3.6
4th  Navada  2002  2.4
5th  Navada  2003  2.9
6th  Navada  2005  3.2

In [3]:
state_pop_df=pd.DataFrame(data, columns=['year', 'state', 'pop'])
state_pop_df

   year   state  pop
0  2001    Ohio  1.5
1  2002    Ohio  1.7
2  2001    Ohio  3.6
3  2002  Navada  2.4
4  2003  Navada  2.9
5  2005  Navada  3.2

In [4]:
print(state_pop_df.head())

print("\n",state_pop_df.head(3))

   year   state  pop
0  2001    Ohio  1.5
1  2002    Ohio  1.7
2  2001    Ohio  3.6
3  2002  Navada  2.4
4  2003  Navada  2.9

    year state  pop
0  2001  Ohio  1.5
1  2002  Ohio  1.7
2  2001  Ohio  3.6

In [5]:
print(state_pop_df.tail())

print("\n",state_pop_df.tail(3))

   year   state  pop
1  2002    Ohio  1.7
2  2001    Ohio  3.6
3  2002  Navada  2.4
4  2003  Navada  2.9
5  2005  Navada  3.2

    year   state  pop
3  2002  Navada  2.4
4  2003  Navada  2.9
5  2005  Navada  3.2

In [6]:

frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop'],index=['one','two','three','four','five','six'])

frame2.head()

       year   state  pop
one    2001    Ohio  1.5
two    2002    Ohio  1.7
three  2001    Ohio  3.6
four   2002  Navada  2.4
five   2003  Navada  2.9

In [7]:
frame2.state ## or frame2['state']

one        Ohio
two        Ohio
three      Ohio
four     Navada
five     Navada
six      Navada
Name: state, dtype: object

In [8]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'dept'])

index=['one','two','three','four','five','six']

frame2

frame2.head()

   year   state  pop dept
0  2001    Ohio  1.5  NaN
1  2002    Ohio  1.7  NaN
2  2001    Ohio  3.6  NaN
3  2002  Navada  2.4  NaN
4  2003  Navada  2.9  NaN

In [13]:
del frame2['dept']

KeyError: 'dept'

In [9]:
print(frame2.columns)
print(frame2.index)

Index(['year', 'state', 'pop', 'dept'], dtype='object')
RangeIndex(start=0, stop=6, step=1)

In [10]:
print(frame2.loc['two'])
state_pop_df.head()
frame2.head()

KeyError: 'two'

In [11]:
### Keep in mind, indexes
import numpy as np
import pandas as pd

state = ['Ohio','Ohio','Ohio','Navada','Navada','Navada',]

data= {'state':state,
       'year': [2001,2002,2001,2002,2003, 2005],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop'],index=['one','two','three','four','five','six'])

ln = len(frame2)

print(ln)
rng = np.arange(ln)
print(rng)
frame2['debt'] = rng
frame2

6
[0 1 2 3 4 5]

       year   state  pop  debt
one    2001    Ohio  1.5     0
two    2002    Ohio  1.7     1
three  2001    Ohio  3.6     2
four   2002  Navada  2.4     3
five   2003  Navada  2.9     4
six    2005  Navada  3.2     5

In [12]:
#how to reindex and use of fill value of paramenter method

import pandas as pd
obj3 = pd.Series(['blue','purple','yellow',], index= [0,3,6])
print(obj3)

obj3 = obj3.reindex(range(9))
print(obj3)

obj3=obj3.reindex(range(9), method='ffill')#ffill= forward fill
print(obj3)

0      blue
3    purple
6    yellow
dtype: object
0      blue
1       NaN
2       NaN
3    purple
4       NaN
5       NaN
6    yellow
7       NaN
8       NaN
dtype: object
0      blue
1       NaN
2       NaN
3    purple
4       NaN
5       NaN
6    yellow
7       NaN
8       NaN
dtype: object